@import "../../common/baseStyle/PxToRem";
@import "../../common/baseStyle/BaseColoeStyle";
.container{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.tabber{    
    @extend .flex-row-bet;  
    border-bottom:px2em(1) solid #eee;
    padding:px2em(8) px2em(11); 
    font-size:px2em(15);
    color:#3b3b3b;
}
.highlight{
    color:$theme-color;
    border-bottom:solid px2em(2) $theme-color;
    font-weight: bold; 
}
.listCon{
    margin:px2em(10) px2em(10) 0 px2em(10);
    border-radius: px2em(8);
    @extend .boxshadow;
    .image{
        width:100%;    
        height: px2em(230);
        border-radius:px2em(8) px2em(8) 0 0;        
    }
    .footer{
        padding: 0 px2em(9);
    }
    .title{
        font-size:px2em(16);
        font-weight:bold;
        color: #494949;
        margin-top:px2em(8);
    }
    .dec{
        font-size:px2em(13);
        color:#959595;
        @include lines(1);
        line-height:px2em(25); 
    }
    .foot{
        @extend .flex-row-bet;
        color:#c4c4c4;
        height: px2em(30);
    }
    .genre{
        margin-left:px2em(10); 
    }
    .icon{
        width:px2em(18); 
        height:px2em(16);
        margin-right: px2em(5);
    }
    .right{
        @extend .flex-row-ali;
    }
    .redColor{
        color:#eb4141;
    }
}